.container {
  background-color: red;

  &-child {
    width: 100%;
  }

  &__child {
    width: 100%;
  }

  &--clear {
    background-color: transparent;
  }
}

// still don't pass this test atm
.container-clear {
  background-color: transparent;
}

.clear, .clearfix, .clear-other {
  clear: both;
}

.something-amazing {
  font-size: 1rem;
}
